body {
  margin: 0;

  /* BEGIN (write your solution here) */
 font-size : 18px;
  color : #333;
  line-height: 1.5;
  font-family : sans-serif;
  
  /* END */
}
h1 {
/* BEGIN (write your solution here) */
font-size : 60px;
  text-align : center;
  margin : 50px 0 10px 0;
/* END */
}
h2 {
  /* BEGIN (write your solution here) */
margin :0;
  padding : 0 0 30px 0;
  font-size : 25px;
  text-align : center;
  /* END */

  border-bottom: 2px solid #e3e3e3;
}

main {
  width: 900px;
  margin: auto;
}

/* BEGIN (write your solution here) */
section {
  margin : 50px 0;
  padding :0 50px;
}
section > h2 {
  margin :0;
  border  : none;
  text-align : left;
}
li {padding :0 0 10px 0;}
/* END */
